[submodule "minime/ui/allium"]
	path = minime/ui/allium
	url = https://github.com/jheronimus/Allium
	branch = main
[submodule "minime/ui/minui"]
	path = minime/ui/minui
	url = https://github.com/jheronimus/MinUI
	branch = main
[submodule "src/libretro-yabasanshiro"]
	path = src/libretro-yabasanshiro
	url = https://github.com/jheronimus/yabause
	branch = main
