# Minime Wi-Fi Configuration File
#
# Copy this file to wifi.cfg at the root of the minime folder
# to auto-configure Wi-Fi settings during deploy.
#
# Format: SSID=YourNetworkSSID and Passphrase=YourNetworkPassword.
# Do not add spaces around the '=' sign.
# Multiple networks can be defined.

SSID=MyHomeWiFi
Passphrase=SuperSecretPassword

# For open networks, omit the Passphrase:
# SSID=FreePublicWiFi
