CONFIG_BOOTDELAY=0
# CONFIG_EFI_LOADER is not set
CONFIG_LED_STATUS=y
CONFIG_LED_STATUS_GPIO=y
CONFIG_LED_STATUS0=y
CONFIG_LED_STATUS_BIT=267
CONFIG_LED_STATUS_STATE=2

# CONFIG_TOOLS_MKEFICAPSULE is not set

# Disable unused U-Boot features to slim down binary and speed up boot
# CONFIG_NET is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_DHCP is not set
# CONFIG_CMD_NFS is not set
# CONFIG_CMD_PING is not set
# CONFIG_CMD_MII is not set
# CONFIG_USB is not set
# CONFIG_CMD_USB is not set
# CONFIG_FS_EROFS is not set
# CONFIG_CMD_EROFS is not set
# CONFIG_FS_EXT4 is not set
# CONFIG_CMD_EXT2 is not set
# CONFIG_CMD_EXT4 is not set

CONFIG_CMD_FDT=y
CONFIG_OF_LIBFDT_OVERLAY=y
CONFIG_CMD_SETEXPR=y
